body {
    background-color: #7fffd4;
    padding-right: 4px;
}

.container{
    background-color:black;
    margin: -12px;
    height: 48Px;;
}

.logo img {
    margin: 12px 11px;
    width: 35px;
    height: 35px;
    position: absolute;
}
