body {
    background-image: linear-gradient( to right,#000, #0f9b0f);
}

.container {
    padding: 25px;
}

.container img {
    width: 600px;
    height: 600px;
}

.fa-angle-double-left, .fa-angle-double-right {
    font-size: 50px;
    color: orange;  
}