textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

header.header {
    grid-area: header;
    font-family: 'Raleway', sans-serif;
    background: grey;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: black;
    margin-right: 10px;
    opacity: 1;
    font-size: 16px;
    transition: transform ease 0.3s;
}

header a:hover {
    background: rgb(243, 246, 248);
    color: black;
    border: 1px solid white;
    transform: scale(1.2);
}

footer.footer {
    grid-area: footer;
    background: black;
    color: aliceblue;
    text-align: center;
}

div.contato {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div.links-contato {
    display: flex;
    flex-direction: column;
}

div.links-contato:nth-child(2n) {
    margin-left: 30px;
}

div.links-contato:nth-child(3) {
    margin-left: 30px;
}