header.header {
    grid-area: header;
    background: black;
    display: flex;
    align-items: center;
    justify-content:space-around;
    opacity: 0.6;
    font-family: 'Varela Round', sans-serif;
    height: 70px;
}

div.logo {
    width: 150px;
}

header a {
    color: #FFF;
    margin-left: 20px;
    opacity: 1.0;
}

header a:hover {
    color: black;
    border: 1px solid white;
    background: white;
}
